version: '2'

services:
  mongodb-primary:
    image: docker.io/bitnami/mongodb:4.4
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-primary
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - MONGODB_PORT_NUMBER=27020
    volumes:
      - 'mongodb_master_data:/bitnami/mongodb'
    ports:
      - 27020:27020
    restart: always

  mongodb-secondary-1:
    image: docker.io/bitnami/mongodb:4.4
    depends_on:
      - mongodb-primary
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary-1
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27020
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - MONGODB_PORT_NUMBER=27018
    ports:
      - 27018:27018
    restart: always

  mongodb-secondary-2:
    image: docker.io/bitnami/mongodb:4.4
    depends_on:
      - mongodb-primary
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary-2
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27020
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - MONGODB_PORT_NUMBER=27019
    ports:
      - 27019:27019
    restart: always

volumes:
  mongodb_master_data:
    driver: local